/* COMMONS */
img {
    max-width: 100%;
}

.bar-icon {
    border: 2px solid white;
    border-radius: 30px;
    background-color: white;
    height: 5px;
    width: 20%;
}

.icon-star {
    margin: 5px;
    font-size: 2.2em;
}

/* #region HEADER */
header {
    height: 100px;
    line-height: 100px;
    background-color: #2c3e50;
    color: white;
}

header h3 {
    display: inline-block;
}

header .col-1 i {
    font-size: 1.5rem;
    border: 1px solid white;
    color: lightslategray;
    padding: 0.4em;
}

/* #endregion HEADER */

/* #region JUMBO */
.jumbotron {
    background-color: #1abc9c;
}

.cont-jumbo {
    width: 80%;
    margin: 0 auto;
}

.img-jumbo {
    width: 70%;
    margin: 0 auto;
    padding-top: 2em;
}

.list-jumbo {
    list-style-type: none;
    font-size: 20px;
}

.list-jumbo li:not(:first-child) {
    margin-left: 12px;
}

/* #endregion JUMBO */

/* #region MAIN */

.wrapper .portfolio img {
    border-radius: 15px;
}

.about {
    background-color: #1abc9c;
    color: white;
}

/* #endregion MAIN */

/* #region FOOTER */
footer {
    background-color: #3a546d;
    color: white;
}

.copyright-section {
    background-color: #2c3e50;
}

.copyright-section p {
    margin: 0;
}

/* #endregion FOOTER */